{% extends 'base.html' %}

{% block title %}{% if object %}Edit{% else %}Create{% endif %} Order{% endblock %}

{% block content %}
<div class="container">
    <h2>{% if object %}Изменить заказ №{{ object.id }}{% else %}Создать новый заказ{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            Клиент: {{ form.client }}
        </div>
        <div class="mb-3">
            Состояние: {{ form.status }}
        </div>
        <div class="mb-3">
            <label>Товары:</label>
            <div class="border p-3">
                <label>Товары:</label>
                <select name="products" class="form-select" multiple>
                    {% for product in form.products.field.queryset %}
                        <option value="{{ product.id }}">{{ product.name }} ({{ product.price }} ₽)</option>
                    {% endfor %}
                </select>
            </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{% if object %}{% url 'order_detail' object.id %}{% else %}{% url 'order_list' %}{% endif %}"
           class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}